nav, footer{
    background-color: #1b1b6c;
    color:white;
    clear:both;
}
 
footer{
    margin-bottom: 0px;
}
 
footer > p{
    margin-bottom: 0px;
    padding:10px;
}
 
.a{
    text-decoration: none;
}
 
#hello{
    background-color: #13124f;
    max-height: 400px;
    margin-top:0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color:white;
}
 
#grey{
    display: block;
    background-color: #9090a5;
    color:white;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
#red{
    display: block;
    background-color: #f61067;
    color:white;
    box-sizing: content-box;
    border-radius: 0%;
    border-color: #f61067;
}
 
#green{
    display: block;
    color:#2ad392;
    box-sizing: content-box;
    border-radius: 0%;
    border: 1px solid #2ad392;
    border-radius: 0%;
}
 
.badge{
    background-color: #1b1b6c;
    border-radius: 100%;
    margin-left: 4px;
}
 
#div1{
    float:left;
    padding: 20px;
    box-sizing: border-box;
}
 
#div2{
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
 
.button{
    max-width: 110px;
}
 
p{
    font-family: 'Lato Regular';
    font-size:small;
    box-sizing: border-box;
}
 
h1, h5{
    font-family: 'Lato Bold';
}
 
img{
    max-width: 75px;
}
 
iframe{
    display: block;
    width:100%;
    height: 100%;
    box-sizing: border-box;
}
 
#div1 > :last-child{
    margin-top: 20px;
}
 
#div1 > :last-child > svg{
    max-width:20px;
    max-height: 20px;
    margin-bottom: 2px;
}
 
 
#div2 > section:first-of-type{
    background-color:#13124f;
    margin-top: 20px;
    margin-bottom: 0px;
    color:white;
    box-sizing: border-box;
}
 
#div2 > section:first-of-type > section > p:first-of-type{
    background-color:#9090a5;
    margin: 0px;
    height: 2px;
}
 
#div2 > section:first-of-type > section > p:last-of-type{
    background-color:#9090a5;
    margin: 0px;
    height: 3px;
}
 
#div2 > section:first-of-type :last-child p, #div2 > section:first-of-type :last-child a{
    text-decoration: none;
    background-color: #352ba5;
    text-align: center;
    box-sizing: border-box;
    color:white;
    padding: 10px;
    text-decoration: underline;
}
 
#div2 > section:first-of-type :nth-child(2){
    padding: 10px;
    box-sizing: border-box;
}
 
#div2 > section:first-of-type :nth-child(4){
    margin:10px;
    text-decoration: none;
}
 
#div2 > section:first-of-type :nth-child(3){
    margin:10px;
}
 
input{
    background-color:#1b1b6c;
    color:#9090a5;
}
 
#div2 > section:last-of-type{
    display:block;
    border: 1px solid #9090a5;
    padding:10px;
    border-radius: 0%;
    box-sizing: border-box;
}
 
#div2 > section:last-of-type a:first-of-type{
    color:white;
}
 
#div2 > section:last-of-type > p:last-of-type >a{
    color:#2ad392;
}
 
#div2 > section:last-of-type > p:nth-of-type(2){
    border-radius: 0%;
    display: inline-block;
    border-color: 3px solid #f61067;
}
 
#div2 > section:last-of-type > p:last-of-type{
    border-radius: 0%;
    display: block;
    float:right;
}
 
.vote-bar{
    height: 8px;
    background-color: #2ad392;
    margin-bottom: 10px;
}
 
.vote-progress {
    height: 8px;
    background-color: #f61067;
    width: 70%;
}
 
#mess{
    margin-bottom: 4px;
    margin-right:4px;
}